{% extends "base.html" %}

{% block content %}
<style>
    .humptron {
      display: flex;
      justify-content: center;
    }
  </style>
<div class="container">
    <div class="row mt-5">
      <div class="col-12">
        <div class="humptron mt-5">
          <div class="card m-2" style="width: 18rem;">
            <div class="card-body text-center">
              <i class="fas fa-paint-brush fa-4x mb-3"></i>
              <h5 class="card-title">Designer</h5>
              <h5 class="card-body text-danger">Khaleel Ibraheem Abd</h5>

            </div>
          </div>
          <div class="card m-2" style="width: 18rem;">
            <div class="card-body text-center">
              <i class="fas fa-calendar-alt fa-4x mb-3"></i>
              <h5 class="card-title">Planner</h5>
              <h5 class="card-body text-danger">Saif aldeen Taha Hasan</h5>
            </div>
          </div>
          <div class="card m-2" style="width: 18rem;">
            <div class="card-body text-center">
              <i class="fas fa-code fa-4x mb-3"></i>
              <h5 class="card-title">Dev</h5>
              <h5 class="card-body text-danger">Smood Tahseen Ali</h5>
            </div>
          </div>
          <div class="card m-2" style="width: 18rem;">
            <div class="card-body text-center">
              <i class="fas fa-pen fa-4x mb-3"></i>
              <h5 class="card-title">Writer</h5>
              <h5 class="card-body text-danger">Ahmed Hamza Ghazi</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}